.tbl-data, .tbl-data td {
	border: solid 1px #aaaaaa;
	border-collapse: collapse
}

.tbl-data {
	width: 100%;
}

.tbl-data td {
	padding: 10px;
}

.tbl-data tr:hover {
	background-color: #dedede;
}

.tbl-head {
	background-color: blue;
	color: white;
	font-weight: bolder;
}

.tbl-data tr.tbl-head:hover {
	background-color: blue;
}