.page-footer {
	position: absolute;
	bottom: 40px;
	left: 285px;
	right: 0px;
	text-align: left;
}

.popup-notification {
	position:fixed;
	top:10px;
	left: 280px;
	right: 200px;
	z-index: 100000;
}

.jw-web .modal-dialog {
	margin-top: 80px;
}

.command-column {
	cursor: pointer;
}

.table-striped > tbody > tr.data-row-highlight {
	background-color: #e5e5e5;
}